.top-div {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px #fff solid;
}
.preview-div {
    width: 50%;
    height: 25%;
    padding: 30px;
    box-shadow: 0px 0px 14px #FADE_BACKGROUND_COLOR#;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: unset !important;
}
.new_image {
    background-position: 10px 10px !important;
    padding-left: 50px;
    padding-right:unset !important;
}
.load_image {
    background-position: 1px 5px !important;
    padding-left: 50px;
    padding-right: unset !important;
}
.exit_image {
    width: 100px;
    background-position: 12px 14px !important;
    padding-left: 30px;
    padding-right: unset !important;
}