/*
                This css represent all kind of input or ui element in xml
                You can create you own class to create you custom element
                but if you only want to edit a detail of existing one
                you could use Style property directly inside xml
*/
.Title {
    margin: #ITEM_MARGIN#;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}
.SubTitle {
    margin: #ITEM_MARGIN#;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.Button {
    background-color: #ACCENT_COLOR#;
    color: #ACCENT_TEXT_COLOR#;
    margin: #ITEM_MARGIN#;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

    .Button:hover {
        cursor: pointer;
        background-color: #FADE_ACCENT_COLOR#;
    }

.LabelBox {
    margin: #ITEM_MARGIN#;
    border: 2px solid #FADE_BACKGROUND_COLOR#;
    border-radius: 0.5rem;
    width: 90%;
    padding: 1rem;
}

.Label {
    margin: #ITEM_MARGIN#;
    width: 90%;
    padding: 1rem;
}
.Box {
    margin: #ITEM_MARGIN#;
    border: 2px solid #FADE_BACKGROUND_COLOR#;
    border-radius: 0.5rem;
    width: 100%;
}

.Row {
    margin: #ITEM_MARGIN#;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.TextBox {
    color: #ACCENT_TEXT_COLOR#;
    background-color: #FADE_BACKGROUND_COLOR#;
    margin: #ITEM_MARGIN#;
    border: 1px groove #FADE_ACCENT_COLOR#;
    width: 99%;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
}

    .TextBox:focus {
        outline: none;
        box-shadow: 0px 0px 8px #ACCENT_COLOR#;
    }

.Spacer {
    margin: #ITEM_MARGIN#;
    color: #BACKGROUND_COLOR#;
    width: 50px;
}

.dropdown {
    margin: #ITEM_MARGIN#;
    position: relative;
    display: inline-block;
}

    .dropdown input[type="text"] {
        padding: 10px;
        border: 1px solid #ACCENT_COLOR#;
        border-radius: 4px;
        font-size: 16px;
        width: 200px;
        background-color: #ACCENT_COLOR#;
        color: #ACCENT_TEXT_COLOR#;
    }

    .dropdown .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ACCENT_COLOR#;
        box-shadow: 0px 0px 5px #FADE_ACCENT_COLOR#;
        border-top: none;
        border-radius: 2px 2px 4px 4px;
    }

        .dropdown .dropdown-content a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #ACCENT_TEXT_COLOR#;
            background-color: #ACCENT_COLOR#;
        }

            .dropdown .dropdown-content a:hover {
                background-color: #FADE_ACCENT_COLOR#;
            }

    .dropdown.open .dropdown-content {
        display: block;
        color: #ACCENT_TEXT_COLOR#;
        background-color: #ACCENT_COLOR#;
    }

    .dropdown input[type="text"] {
        padding: 10px 30px 10px 10px;
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 16px 16px;
    }

    .dropdown input[type="text"],
    .dropdown:hover input[type="text"] {
        cursor: pointer;
    }

.label-checkbox {
    display: inline-block;
    position: relative;
    padding-top: 2px;
    padding-left: 25px;
    cursor: pointer;
}

    .label-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: solid 1px #FADE_BACKGROUND_COLOR#;
    background-color: #ACCENT_COLOR#;
}

.label-checkbox:hover input ~ .checkmark {
    background-color: #BACKGROUND_COLOR#;
    border: solid 1px #FADE_TEXT_COLOR#;
}

.label-checkbox input:checked ~ .checkmark {
    background-color: #FADE_ACCENT_COLOR#;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.label-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #FADE_BACKGROUND_COLOR#;
}

th, td {
    border: 1px solid #FADE_BACKGROUND_COLOR#;
    padding: 8px;
}